.blog-preview {
    .blog-preview-content {
        margin-top: 10px;
    }
    time {
        font-size: 12px;
        color: #797979;
    }
    h2 {
        margin: 0;
        font-size: 16px;
    }
}