.gallery {
    // background-color: rgb(61, 61, 61);
    color:rgb(221, 221, 221);

    header {
        overflow: hidden;
        h1 {
            float: left;
            font-size: 30px;
        }
        button {
            float: right;
        }
        
    }
}