<div class="nav">
    <img class="avatar-img" src="../../../assets/images/header-img.jpg">

    <div class="user-info-and-nav">
        <article class="user-info">
            <h2 class="name">程晓龙</h2>
            <p class="sinature">we can make a choice.</p>
        </article>
        <nav>
            <a routerLink="homepage">我的主页</a>
            <a routerLink="blog">文章</a>
            <a routerLink="gallery">摄影</a>
            <a routerLink="broadcast">广播</a>
        </nav>
    </div>
    
</div>
